.header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow:hidden;
}

.header__nav {
    position: relative;
    width: 85%;
    height: 88px;
    margin: auto;
    justify-content: space-between;
}

.header__range-container {
    position: absolute;
    width: 144px;
    top: 350px;
    left: 15%;
}

.header__slider {
    position: relative;
    height: 2px;
    width:100%;
    /* opacity:0.2; */
    background: rgb(245, 54, 92, .2);
    border-radius: 10px;
    z-index:99;
}

.header .swiper-slide{
    width:100%;
    margin:auto;
    cursor:grab;
    transition: all .5s ease-in-out;
}
.header .swiper-wrapper{
    width:100%;
    /* padding:0 10%; */
    margin:auto;
}
.header .swiper-slide{
    width:100%;
    padding:0 15%;
}
.header__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: none;
    -webkit-appearance: none;
    background: none;
}

.header__input::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: #f5365c;
    border-radius: 10px;
}

.thumb {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #f5365c;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.dots {
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 20px;
    justify-content: space-around;
}

.dots span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f5365c;
    transform: translate(-50%, -50%)
}

.header__nav,
.nav__element_right,
.nav__element_left,
.nav__list,
.main__container,
.main__container_s,
.main__countup,
.mobile-btns,
.countup__counter-title,
.main__slider-container,
.countup_boxes,
.countup_half,
.hey-section__content,
.courses-section__author,
.courses-section__price,
.download-section__container,
.download-section__app-stores,
.download-section__download,
.download-section_social-links li a,
.interview-section__details,
.subscribe-section__content,
.footer-section__imgBox,
.footer-section__nav,
.footer-section .nav__list,
.footer-section_site-name,
.footer-section__nav_bottom,
.footer_createdby {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
}

.btn {
    padding: 15px 26px;
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.nav__list_links .nav__item .nav__link {
    margin-right: 28px;
    color: #000;
    font-family: 'normal';
    transition: .3s;
}

.nav_social-list .nav__item {
    margin-right: 20px;
}

.nav__list_links .nav__item,
.btn-login {
    font-size: 14px;
}

.btn-login {
    height: 48px;
}

.nav__logo {
    width: 104px;
    height: 56px;
    margin-right: 48px;
}


.nav_lang-switcher option {
    border: none;
}

.nav_lang-switcher option:hover {
    background: #959595;
}

.nav__select,
.nav__option {
    border: none;
    outline: none;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    width: 70px;
}

.custom-select select {
    display: none;
}

.select-items div, .select-selected {
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
}

.select-items div {
    width: 70px;
    padding: 5px;
    color: #8898aa;
    font-family: 'normal';
    line-height: 16.34px;
    letter-spacing: 0.03em;
    font-size: 12px;

}

/* Style items (options): */
.select-items {
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ADB5BD33;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 70px;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav_lang-switcher {
    display: flex;
    align-items: center;
    background: #ADB5BD33;
    border: 1px solid rgba(173, 181, 189, 0.16);
    border-radius: 4px;
    font-family: 'thin';
    padding: 4px;
    margin-right: 32px;
    letter-spacing: 0.03em;
}
.nav__list_lang_switcher {
    display: none;
}


.select-selected,
.countup_boxes p,
.courses-section .courses-section__author_name,
.blogs-section__desc,
.footer-section_year {
    color: #8898AA;
}

.select-selected {
    margin-left: 4px;
    font-size: 12px;
    font-family: 'normal';
}

.nav__list .nav__item .nav__link:hover {
    cursor: pointer;
    border-radius: 10px;
    color: #fd0033;
}

.nav_social-list img {
    transition: .3s;
    filter: grayscale(300%);
    width:24px;
    height:24px;
}
.nav_social-list img:hover {
    filter: grayscale(0);
}

.hey-section__content,
.nav__btn-login .btn,
.courses-section__course-boxes .btn {
    background: #F5365C;
}

.nav__btn-login .btn {
    color: white;
}

.header__main {
    background: #fafbfc;
    min-height: 408px;
}

.main__container_s {
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.main__slider-container {
    position: relative;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}
.main__content-container .imgBox{
    width:58px;
    height:58px;
}
.main__title {
    margin-top: 20px;
    font-size: 28px;
    line-height: 38px;
}

.main__desc {
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 14px;
    font-family: 'thin';
    color: #999DA3;
    line-height: 19px;
}

.main__countup {
    justify-content: space-between;
    margin-right: 50px;
    min-height: 102px;
}

.countup_boxes .main__imgBox {
    margin-right: 16px;
}
.countup_half{
    justify-content:space-around;
}
.countup_boxes h3 {
    font-size: 24px;
    font-weight: bold;
}

.countup_boxes p {
    font-size: 16px;
    font-family: 'thin';
    line-height: 21.7px;
}

.main__countup,
.header__main,
.nav__element_left,
.countup_half,
.courses-section,
.categories-section,
.hey-section,
.download-section,
.blogs-section,
.categories-section__categories,
.footer-section {
    width: 100%;
}

.courses-section,
.blogs-section,
.download-section,
.interviews-section {
    padding: 64px 0;
}

.categories-section__title_main,
.courses-section__title_main .blogs-section__title_main,
.interviews-section__title_main {
    margin-bottom: 32px;
    font-size: 26px;
}

.courses-section__course-boxes {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/* .courses-section__courses{
    align-items: stretch;
} */
.courses-section__imgBox {
    position: relative;
    width:100%;
}

.courses-section__date,
.hey-section__hey_woman,
.blogs-section__card .imgBox .blogs-section__date,
.interviews-section__btn_play,
.interviews-section__interview-title,
.footer-section .swiper-slide img::before {
    position: absolute;
}

.courses-section__date,
.hey-section__text,
.interviews-section__interview-title,
.footer_bold,
.footer-section_creator,
.bycompany,
.footer-section_bold {
    color: #fff;

}

.courses-section__date {
    top: 10px;
    right: 10px;
    background: rgba(252, 152, 65, 0.9);
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'normal';
}

.courses-section__imgBox img {
    width: 100%;
    height: 100%;
}

.courses-section__rating_star {
    margin-right: 5px;
}

.courses-section__course-boxes .btn {
    position: relative;
    bottom: 0;
    width: 100%;                                                                        
    color: white;   
}
.courses-section__content{
    width:100%;
}
.courses-section .courses-section__title {
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 6px;
}

.courses-section__author {
    margin-top: 5px;
}

.courses-section .courses-section__author_name {
    font-size: 12px;
    line-height: 10px;
    margin-left: 4px;
    font-family: 'normal';
}

.courses-section__price {
    margin-top: 10px;
    color: #525F7F;
    margin-bottom: 10px;
}

.courses-section .courses-section__price_sale {
    font-size: 20px;
    line-height: 28px;
    margin-right: 5px;
}

.courses-section .courses-section__price_old {
    font-size: 14px;
    line-height: 19.6px;
    color: #F75676;
}

.header__nav,
.main__container,
.download-section__container,
.categories__container,
.courses__container,
.hey-section__content,
.blogs-section__container,
.interviews-section__container,
.subscribe-section__content_1,
.footer-section__nav {
    width: 85%;
    max-width: 1536px;
    margin: auto;
}

.categories-section__categories,
.courses-section__courses,
.blogs-section__cards,
.interviews-section__cards {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.categories-section,
.blogs-section,
.interviews-section {
    background: rgba(255, 219, 226, 0.29);
}

.categories-section {
    padding-top: 64px;
    padding-bottom: 132px;
}

.categories-section__category-boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    padding: 20px;
    background:#fff;
    z-index: 1;
    border: 1px solid #FDD3DB;
    text-align: center;
}

.categories-section__category-boxes .bg-gradient {
    position: absolute;
    top:45%;
    left:50%;
    height: 50%;
    width: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}

.categories-section__category-boxes .bg-gradient::before {
    content: "";
    background: radial-gradient( #5e9dbf,#fff);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
    /* z-index: -1; */
    filter: blur(20px);
}

.categories-section__title {
    font-size: 20px;
    font-family: 'bold';
}

.categories-section__desc {
    font-family: 'normal';
    font-size: 14px;
    margin-top: 5px;
}

/* .categories-section_bg_bluer{} */
.hey-section__content,
.categories-section__category-boxes,
.download-section__download,
.download-section_social-links,
.blogs-section__card,
.courses-section__date,
.download-section_social-links {
    border-radius: 16px;
}

.hey-section {
    min-height: 258px;
}

.hey-section__content {
    position: relative;
    min-height: 144px;
    margin-top: 88px;
    justify-content: space-between;
}

.hey-section__hey_woman {
    width: 260px;
    height: 300px;
    top: -156px;
    left: 90px;
    z-index: 2;
}

.hey-section__bg-logo {
    left: 50px;
    max-width:100%;
    position: relative;
    z-index: 1;
}
.hey-section__text{
    width:30%;
    padding:20px 0;
}
.hey-section__title {
    position: relative;
    z-index: 2;
    font-size: 26px;
    font-family: 'thin';
    line-height: 36.4px;
}
.download-section__download{
    position: relative;
}
.hey-section__content .btn,
.download-section_for_woman {
    color: #F5365C;
}

.hey-section__content .btn {
    margin-right: 50px;
}

.blogs-section__card {
    background: #fff;
    overflow: hidden;
    min-width: 30%;
    box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
}

.blogs-section__card .imgBox {
    position: relative;
}

.blogs-section__card .imgBox .blogs-section__date {
    top: 10px;
    right: 10px;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'normal';
    color: #525F7F;
    background: rgba(247, 250, 252, 0.8);
}

.blogs-section__content {
    padding: 16px;
}

.blogs-section__title {
    font-size: 18px;
    line-height: 24.51px;
    font-family: 'normal';
}

.blogs-section__desc {
    font-size: 13px;
    line-height: 17.7px;
    font-family: 'thin';
    margin-top: 8px;
}

.blogs-section__links {
    margin-top: 37px;
    font-size: 14px;
}

.blogs-section__link {
    color: #5E72E4;
    text-decoration: none;
    margin-right: 5px;
}

.blogs-section__links:hover .blog_animated-img {
    animation: link 1.2s ease-in infinite;
    /* transition: .5s linear; */
}

@keyframes link {
    50% {
        margin-left: 20px;
    }

    100% {
        margin-left: 0;
    }
}

.download-section_social-links li a:hover,
.blogs-section__link:hover {
    text-decoration: underline;
}

.blogs-section .imgBox img {
    width: 100%;
    height: 100%;
}

.download-section__desc {
    font-family: 'normal';
    margin-top: 27px;
    margin-bottom: 63px;
    font-size: 20px;
    line-height: 27px;

}

.download-section__stores {
    margin-right: 20px;
}

.download-section__download,
.download-section_social-links {
    background-color: #f5f5f5;
}

.download-section__container {
    justify-content: space-between;
    align-items: stretch;
}

.download-section__download {
    width: 70%;
    padding: 36px;
}

.download-section__download .imgBox {
    position: relative;
    bottom: -40px;
    width:20%;
}

.download-section_social-links {
    min-width: 25%;
    padding: 24px;
}

.download-section__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
}

.download-section_social-links li {
    list-style: none;
    margin-bottom: 16px;
}

.download-section_social-links li a {
    font-family: 'thin';
    text-decoration: none;
    color: #525F7F;
}

.download-section_social-links li a img {
    margin-right: 5px;
}

.subscribe-section {
    position: relative;
}
.interviews-section .imgBox{
    position: relative;
    overflow:hidden;
}
.interviews-section__card{
    position: relative;
}
.interviews-section__main-img{
    width:100%;
}

.interviews-section__interview-title {
    top: 60%;
    left:0;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    z-index: 2;
    background: linear-gradient(89.54deg, #F75676 0.39%, rgba(247, 86, 118, 0.2) 97.44%);
}



.interviews-section__btn_play {
    top: 20px;
    left:0;
    padding: 6px 15px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 0px 4px 4px 0px;
}

.interview-section__details {
    color: #959595;
}

.interview-section__details span {
    font-size: 14px;
    line-height: 19px;
    font-family: 'thin';
}

.interview-section__details span,
.interview-section__details img {
    margin-right: 5px;
}

.interview-section__title {
    font-size: 18px;
    line-height: 24.5px;
    color: #32325D;
    font-family: 'normal';
    margin-top: 8px;
}

.subscribe-section__content_1 {
    padding: 24px
}

.subscribe-section__content img {
    margin-right: 5px;
}

.subscribe-section__joinus {
    font-family: 'thin';
    color: #F75676;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

.subscribe-section__insta_link {
    color: #525F7F;
    font-size: 32px;
    line-height: 44px;
}

.footer-section .swiper {
    position: relative;
    padding-top: 200px;
    background: linear-gradient(180deg, rgba(248, 251, 252, 0) 50%, #F8FBFC 100%);
    cursor: grab;
}

.footer-section .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33% !important;
    height: 280px !important;
    overflow: hidden;
}

.mySwiper .swiper-slide > img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.footer-section .swiper-slide img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-position: center top;
}

.footer-section .swiper-slide img:active {
    cursor: grabbing;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.001), #fff);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.overlay:active {
    cursor: grabbing;
}

.footer-section .swiper-slide:hover .overlay {
    background: rgba(245, 54, 92, 0.4);

}

.overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s;
}

.overlay:hover .text {
    bottom: 50%;
}

.overlay .text:hover {
    cursor: pointer;
}

.overlay .text:active {
    cursor: pointer;
}

.footer-section {
    /* overflow:hidden; */
    position: relative;
}

.footer-section_bg-img {
    position: absolute;
    right: 0;
    z-index: 1;
}

.footer-section_creator,
.bycompany {
    font-family: 'thin';
}
.bycompany{
    margin-right:5px;
}
.footer-section_year {
    font-family: 'thin';
}

.footer-section .imgBox {
    margin-right: 50px;
}

.footer-section .nav__item {
    margin-right: 70px;
    font-size: 14px;
}

.footer-section .nav__list {
    min-height: 128px;
}

.footer-section .nav__item a {
    color: #000;
    font-family: 'normal';
    text-decoration: none;
}

.footer-section__imgBox img {
    margin-right: 10px;
    width:28px;
    height:28px;
    filter:grayscale(100%);
}
.footer-section__imgBox img:hover{
    filter:grayscale(0);

}

.footer-section__nav_bottom {
    padding: 0 7.5%;
    min-height: 68px;
    justify-content: space-between;
    background: #172B4D;
}

.footer-section_site-name {
    font-family: 'normal';
}

.footer_createdby {
    justify-content: space-between;
}

.btn:hover {
    color: #fff;
    background: rgb(248, 2, 51)
}

.hey-section .btn:hover {
    background: #f5365c;
}
.footer__forwoman{
    color: #fff;
    font-family:'thin';
    margin-right:10px;
}
.footer-section .nav__list,
.footer-section .imgBox{
    position: relative;
    z-index:2;
}
.hey-section__bg-logo{
    z-index: 1;
}