@media(min-width:1536px) {
    .main__container_s {
        padding: 0 15%;
    }
}

@media (max-width:1280px) {
    .download-section__app-stores {
        margin-top: 400px;
    }

    .download-section__download {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .download-section__download .imgBox {
        position: absolute;
        bottom: 100px;
        left: 5%;
    }
}

@media(min-width:1024px) {
    .mobile-wrapper {
        display: none;
    }
}

@media (max-width:1024px) {
    .main__slider-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .main__content-container {
        display: flex;
        flex-direction: row;
    }

    .header__range-container {
        top: 570px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }

    .main__content-container .imgBox {
        margin-top: 25px;
        margin-right: 25px;
    }

    .nav__element_right,
    .nav__element_left .nav__list {
        display: none;
    }

    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: #fff;
        width: 100%;
        margin: auto;
    }

    .nav__logo {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__main {
        margin-top: 88px;
    }

    .nav__logo {
        margin: auto;
        width: 100%;
    }

    .main__countup {
        padding-bottom: 50px;
        flex-direction: column;
        margin-top: 20px;
    }

    .countup_half .countup_boxes {
        margin-top: 20px;
    }

    .hey-section__content {
        flex-direction: column;
        min-height: 400px;
    }

    .hey-section__text {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .hey-section__hey_woman,
    .hey-section__bg-logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .hey-section .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-section__nav,
    .footer-section__nav_bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-section__nav_bottom {
        padding: 20px 0;
    }

    .footer-section__nav_bottom div {
        margin-bottom: 20px;
    }

    .footer-section .imgBox {
        margin-top: 20px;
    }
}
@media(max-width:1210px){

    .interviews-section__cards,
    .blogs-section__cards,
    .courses-section__courses{
        padding:0 15% ;
    }
}
@media(max-width:900px) {
    .download-section__container {
        flex-direction: column;
    }

    .download-section_social-links ul {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 5px;
        justify-content: center;
    }

    .download-section__container .download-section__content,
    .download-section__container .download-section__download {
        width: 100%;
        margin-bottom: 20px;
    }

    .download-section__download .imgBox,
    .download-section__content {
        width: 50%;
    }

    .download-section__download .imgBox {
        position: relative;
        bottom: -45px;
    }

    .download-section__app-stores {
        margin-top: 0;
    }
}

@media(min-width:800px) {
    .download-section__content_before {
        display: none;
    }
}

@media(max-width:800px) {
    .download-section__download .imgBox {
        display: none;
    }

    .download-section__content {
        position: relative;
        z-index: 2;
    }

    .download-section__download {
        overflow: hidden;
    }

    .download-section__content_before {
        display: block;
        position: absolute;
        height: 200%;
        width: auto;
        margin-top: 200px;
        background-position: center top;
        background-repeat: no-repeat;
        opacity: .3;
        /* z-index: -1; */
    }
    .download-section__stores img:nth-child(1){
        margin-right:10px;
    }
}

@media(max-width:650px) {

    .footer-section__nav .nav__list {
        flex-direction: column;
    }

    .footer-section__nav .nav__item {
        margin-top: 20px;
    }

    .download-section__stores {
        display: flex;
        flex-direction: row;
    }
}

@media(max-width:500px) {
    .countup_half {
        display: flex;
        flex-direction: column;
    }

    .countup_boxes {
        width: 100%;
    }

    .download-section__app-stores {
        display: flex;
        flex-direction: column;
    }

    .download-section__stores:nth-child(1) {
        margin-bottom: 20px;
    }
}
@media(max-width:370px){
    .interviews-section__cards, 
    .blogs-section__cards, 
    .courses-section__courses {
        padding:0;
    }
}